/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
   font-family: 'Poppins', sans-serif;
   color: #565251;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
._container {
   max-width: 1140px;
   margin: 0 auto;
}
._title {
   font-size: 36px;
   font-weight: 700;
   margin: 10px 0px 10px 0px;
}
._plate {
   width: 200px;
   height: 50px;
   line-height: 50px;
   color: #fff;
   font-size: 36px;
   font-weight: 700;
   background-color: #565251;
   margin: 10px auto;
   text-align: center;
}
/*NAME------------------------------------------------------------------------*/
.name {
   padding: 10px;
}
.name__container {
   display: flex;
   min-height: 300px;
   align-items: center;
   justify-content: space-around;
   
}
.name__image {
   padding: 10px;
}
.name__image img{
   background: #18a032;
   padding: 10px;
   width: 240px;
   height: 240px;
}
.image__foto img {
   margin: 0 auto;
   width: 250px;
   height: 250px;

}
.info__title {
   font-size: 40px;
   font-weight: 700;
}
.info__subtitle {
   color: #18a032;
   font-size: 30px;
   font-weight: 400;
}
/*-------------------------------------------------------------------------*/